<!DOCTYPE html>
<html lang="en">

<%- include('partials/subhead') %>
  
  <body class="mb-5 pb-3">

    <%- include('partials/header') %>

    <main>
      <div class="container">
        <h1 class="text-center">All Weather Requests</h1>
        <div>
          <% weatherData.forEach(function(doc) { %>
            <div class="border bg-block rounded-4 border-2 blue-border p-1 my-1 row">
              <div class="col-12 d-flex justify-content-between">
                <h6><span class="fw-bold">id: </span><%= doc.id %>,</h6>
                <h6><span class="fw-bold">username: </span><%= doc.username %>,</h6>
                <h6><span class="fw-bold">country: </span><%= doc.country %>,</h6>
                <h6><span class="fw-bold">city: </span><%= doc.city %>,</h6>
                <h6><span class="fw-bold">lat: </span><%= doc.lat %>,</h6>
                <h6><span class="fw-bold">lon: </span><%= doc.lon %>,</h6>
                <h6><span class="fw-bold">main: </span><%= doc.main %>,</h6>
                <h6><span class="fw-bold">description: </span><%= doc.description %>,</h6>
              </div>
              <div class="col-12 d-flex justify-content-between">
                <h6><span class="fw-bold">icon: </span><%= doc.icon %>,</h6>
                <h6><span class="fw-bold">temperature: </span><%= doc.temperature %>C,</h6>
                <h6><span class="fw-bold">feels: </span><%= doc.feels_like %>C,</h6>
                <h6><span class="fw-bold">pressure: </span><%= doc.pressure %>hPa,</h6>
                <h6><span class="fw-bold">humidity: </span><%= doc.humidity %>%,</h6>
                <h6><span class="fw-bold">wind: </span><%= doc.id %>m/s,</h6>
                <h6><span class="fw-bold">created: </span><%= doc.creation_date %>.</h6>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </main>

    <%- include('partials/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
